In [2]:
import duckdb
import pandas as pd
import os
from datetime import datetime

In [6]:
con = duckdb.connect(database = 'dados_duckdb.db', read_only = False)

In [31]:
arquivo = 'z0019_2.csv'
data_ingestao = datetime.now()
df = pd.read_csv(f'../landing/{arquivo}', sep = ';')
df['nome_arquivo'] = arquivo
df['data_ingestao'] = data_ingestao
df.head()

   NATBR    MAKTX WERKS  MAINS  LABST nome_arquivo              data_ingestao
0  10004    SERRA  BT50    100    200  z0019_2.csv 2025-11-05 20:33:41.367618
1  10005  MACHADO  BT50    100    100  z0019_2.csv 2025-11-05 20:33:41.367618
2  10003    PREGO  BT10    100     60  z0019_2.csv 2025-11-05 20:33:41.367618

In [32]:
con.execute("""
create table if not exists bronze_produt(
            NATBR varchar,
            MAKTX varchar,
            WERKS varchar,
            MAINS varchar,
            LABST varchar,
            nome_arquivo varchar,
            data_ingestao timestamp)
""")

In [33]:
con.execute("insert into bronze_produt select * from df")

In [38]:
resultado = con.execute("select * from bronze_z0019").fetchdf()
resultado.head()

   NATBR     MAKTX WERKS MAINS LABST nome_arquivo              data_ingestao
0  10001  PARAFUSO  BT10   100   100  z0019_1.csv 2025-11-05 20:23:35.720704
1  10002   MARTELO  BT50   100  1500  z0019_1.csv 2025-11-05 20:23:35.720704
2  10003     PREGO  BT10   100    50  z0019_1.csv 2025-11-05 20:23:35.720704
3  10004     SERRA  BT50   100   200  z0019_2.csv 2025-11-05 20:33:41.367618
4  10005   MACHADO  BT50   100   100  z0019_2.csv 2025-11-05 20:33:41.367618

In [40]:
con.close()